/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    overflow: hidden;
}

.header{
    width: 25vw;
    padding-top: 10px;
    padding-left: 20px;
    height: 10vh;
    position: fixed;
    z-index: 3;
    background-color: white;
    box-shadow: 10px 5px 10px rgba(255, 84, 0, 0.5);
}

h1{
    width: fit-content;
    display: flex;
    margin: 28px 20px 0px 20px; 
    font-size: 1.1em;
    position: relative;
    color: #ff5400;
}

#conteneur{
    width: 100vw;
    height: 100vh;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(30,20px);    
    justify-content: start;
}

.box{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0vh;
    left: 0vw;
    overflow: hidden;
    position: relative;
}

.zoom{  
    height:100vh;  
    width:50vw;  
    display:grid;  
    place-items:center;  
    top:0;  
    left:33%;
    padding-top: 10px;
  }

body{
    /*--pattern background--*/
    background-color: #fafafa;
    background-image: radial-gradient(#FFBB99 1px, #fafafa 1px);
    background-size: 20px 20px;
}






#buttons{
    width: 20vw;
    height: fit-content;
    position: fixed;
    top: 40vh;
    left: 93vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    border: 1px solid black;*/
}

.btn {
    width: fit-content;
    height: 10vh;


    display: flex;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1;
/*    border: 1px solid red;*/
}
.btn:hover {
  background: red;
}







