@font-face {
    font-family: "SyneMono";
    src: url("font/SyneMono-Regular.woff2") format("woff2");
}


/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --primary-color: #ff5400;
    --secondary-color: black;
    --third-color: #FFBB99;
    --grey-background-color: #fafafa;
    --white-background-color: white;

    --primary-font: "SyneMono";
}

body {
    font-size: 1rem;
    line-height: 1.7;
/*    overflow: hidden;*/
}

.header{
    width: 25vw;
    padding-left: 20px;
    position: fixed;
    z-index: 3;
    background-color: var(--white-background-color);
    box-shadow: 10px 5px 10px rgba(255, 84, 0, 0.5);
    font-family: var(--primary-font);
}

h2{
    font-size: 1.8em;
    margin-top: 10px;
}

h1{
    width: fit-content;
    display: flex;
    margin: 2px 20px 0px 20px; 
    font-size: 1.1em;
    position: relative;
    font-size: 1.3em;
    color: var(--primary-color);
}

h5{
    font-size: 1em;
    margin-top: -2vh;
    margin-bottom: 1vh;
    color: var(--primary-color);
}

h1:hover{
    color: var(--secondary-color);
    transition: color 0.5s ease-in-out;
}

#conteneur{
    width: 100vw;
    height: 100vh;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(30,20px);    
    justify-content: start;
}

.box{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0vh;
    left: 0vw;
    overflow: hidden;
    position: absolute;
    /*--pattern background--*/
    background-color: var(--grey-background-color);
    background-image: radial-gradient(var(--third-color) 1px, var(--grey-background-color) 1px);
    background-size: 20px 20px;
}

.zoom-conteneur{  
    height:100vh;  
    width:50vw;  
    display:grid;  
    place-items:center;  
    top:0;  
    left:33%;
    padding-top: 10px;
}

.target{
    transition: transform 1s;
    transform-origin: top left;
}


#buttons{
    width: 20vw;
    height: fit-content;
    position: fixed;
    top: 40vh;
    left: 96vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: fit-content;
    height: 3.5vh;
    width: 3.5vh;
    margin-bottom: 8px;
    background-color: var(--secondary-color);
    display: flex;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1;
}
.btn:hover {
  background-color: var(--primary-color);
}



/*SCROLLBAR PROJETS*/

/*barre de scroll*/
::-webkit-scrollbar{
  height: 8px;
  width: 8px;
}

/* Trace de la barre de scroll */
::-webkit-scrollbar-track {
  background-color: var(--grey-background-color); 
}
 
/* Couleur de la barre */
::-webkit-scrollbar-thumb {
  background-color: var(--third-color); 
  border-radius: 2.5px;
}

/* Couleur de la barre au déplacement */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); 
  border-radius: 2.5px;
}



/*ACCORDION HEADER*/
.accordion {
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
  background-color: var(--white-background-color);
}

.panel, .panel-font {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none;
  transition: max-height 0.2s ease-out;
}


[contenteditable]{
    outline: 0px solid transparent;
}




/*INFOS FONT*/


h3{
    font-size: 2em;
}

h4{

}



